modules = ["python-3.12"]
[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "python313Packages.pip"]

[agent]
expertMode = true

[workflows]
runButton = "Run Medical Bot"

[[workflows.workflow]]
name = "Run Medical Bot"
author = 47318778
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[workflows.workflow]]
name = "Run Medical Bot"
author = 47318778
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
